@{
    ViewData["Title"] = "home";
}


<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Launch <em id="cycler">faster</em> than you ever have</h1><br>
        <p>Cloudy is a simple, powerful, cross platform Content Management System to help you release better and faster. For .NET and EF Core.</p><br>
        <button id="buyBtn" class="button">Start using</button><br>
        <button id="exploreBtn" class="button">Explore features</button>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div id="businessTitle" class="containerTitle">
    <h2>For business</h2>
</div>
<div class="uspContainer">
    <div class="uspDiv block">
        <h3>Launch faster</h3>
        <p>Launch with speed and quality. Cloudy is built for simplicity, eliminating the need for lengthy and complex integrations.</p>
        <i class="fa-solid fa-rocket fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/business">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>Enjoy ultimate freedom</h3>
        <p>Power and extend your applications with whatever you want. Cloudy lets you extend and integrate with anything .NET supports.</p>
        <i class="fa-solid fa-martini-glass-citrus fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/business">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>Empower your teams</h3>
        <p>You need technology your colleagues can work with. Cloudy has great editor experience and makes developers happier.</p>
        <i class="fa-solid fa-hand-holding-heart fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/business">Learn more</a>
    </div>
</div>

<div id="developerTitle" class="containerTitle">
    <h2>For developers</h2>
</div>
<div class="uspContainer">
    <div class="uspDiv block">
        <h3>Cloudy plays with your system, instead of you with ours</h3>
        <p>Cloudy reads your EF Core models to auto generate an admin interface for an application. Be it any web, desktop, native or custom platform.</p>
        <i class="fa-solid fa-code fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/developers">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>You design the application just how you want it</h3>
        <p>Cloudy supports any and all functionality also supported by EF Core and .NET. For example, that means pick any database you want.</p>
        <i class="fa-brands fa-windows fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/developers">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>No custom code required and zero vendor lock-in</h3>
        <p>Don't like Cloudy? Turn it off and start using something else. Lose or break nothing in your live application (except the Cloudy interface...)</p>
        <i class="fa-solid fa-face-laugh-beam fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/developers">Learn more</a>
    </div>
</div>

<div id="usecaseTitle" class="containerTitle">
    <h2>Build, in minutes</h2>
</div>
<div class="usecaseContainer">
    <div class="usecaseDiv">
        <div>
            <h3>Websites and web apps</h3>
        </div>
        <div class="block">
            <p>Build landing pages</p>
            <i class="fa-solid fa-code fa-2x"></i><p>Coming soon</p>
        </div>
        <div class="block">
            <p>Build complex web apps</p>
            <i class="fa-solid fa-code fa-2x"></i><p>Coming soon</p>
        </div>
        <div class="toPortfolio">
            <a class="uspLink hover-underline-animation" href="/product/portfolio"><i class="fa-solid fa-magnifying-glass-arrow-right fa-lg"></i><br>See more examples</a>
        </div>
    </div>
    <div class="usecaseDiv">
        <div>
            <h3>Desktop applications</h3>
        </div>
        <div class="block">
            <p>Build controls for on-premise robotics</p>
            <i class="fa-solid fa-code fa-2x"></i><p>Coming soon</p>
        </div>
        <div class="block">
            <p>Build a dashboard for factory machinery</p>
            <i class="fa-solid fa-code fa-2x"></i><p>Coming soon</p>
        </div>
        <div class="toPortfolio">
            <a class="uspLink hover-underline-animation" href="/product/portfolio"><i class="fa-solid fa-magnifying-glass-arrow-right fa-lg"></i><br>See more examples</a>
        </div>
    </div>
    <div class="usecaseDiv">
        <div>
            <h3>Native, mobile applications</h3>
        </div>
        <div class="block">
            <p>Build an e-commerce app</p>
            <i class="fa-solid fa-code fa-2x"></i><p>Coming soon</p>
        </div>
        <div class="block">
            <p>Build a loyalty app</p>
            <i class="fa-solid fa-code fa-2x"></i><p>Coming soon</p>
        </div>
        <div class="toPortfolio">
            <a class="uspLink hover-underline-animation" href="/product/portfolio"><i class="fa-solid fa-magnifying-glass-arrow-right fa-lg"></i><br>See more examples</a>
        </div>
    </div>
</div>

<div id="philosophyTitle" class="containerTitle">
    <h2>Our Philosophy</h2>
</div>
<div class="whyCloudyContainer">
    <div class="whyCloudyDiv">
        <div class="whyCloudyDivTxt">
            <h3 class="whyCloudyDivTxtEl philosophyHeadingP">Speed</h3>
            <p class="whyCloudyDivTxtEl">Launching fast is top priority. Lengthy projects and gut wrenching integration with a CMS delay time to insight. Today is about monetising high frequency, short term bets - with a long term vision. Technology is the key enabler.</p>
            <ul class="whyCloudyDivTxtEl">
                <li><p>Launch with the Cloudy CMS in minutes, not weeks</p></li>
                <li><p>Focus on creating value for customers, not digging into vendor lock-in</p></li>
                <li><p>Respond to change quickly with flexible technology</p></li>
            </ul>
            <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button>
        </div>
        <div class="whyCloudyDivGif">
            <iframe src="https://giphy.com/embed/D1oBuuG3dBsR2RaxlR" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
    <div class="whyCloudyDiv right">
        <div class="whyCloudyDivGif">
            <iframe src="https://giphy.com/embed/nYFLdc1qjkeygLFqGq" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        <div id="whyCloudyRight" class="whyCloudyDivTxt">
            <h3 class="whyCloudyDivTxtEl philosophyHeadingP">Freedom</h3>
            <p class="whyCloudyDivTxtEl">A CMS is at the centre of your digital strategy. A system that needs to work with the application design choices that best fit your requirements, without imposing such choices onto you. Cloudy supports anything .NET and EF Core support.</p>
            <ul class="whyCloudyDivTxtEl">
                <li><p>Anything supported in .NET and EF Core, Cloudy supports</p></li>
                <li><p>Strategy and customer requirements drive technology design</p></li>
                <li><p>The CMS cannot hijack your whole application</p></li>
            </ul>
            <div>
                <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button>
            </div>
        </div>
    </div>
    <div class="whyCloudyDiv">
        <div class="whyCloudyDivTxt">
            <h3 class="whyCloudyDivTxtEl philosophyHeadingP">Power</h3>
            <p class="whyCloudyDivTxtEl">Cloudy is extremely lightweight - it clocks in as a 150kb package on top of your application. A seamsless editor and developer experience allow your teams to focus on what they do best - to CREATE.</p>
            <ul class="whyCloudyDivTxtEl">
                <li><p>A lighweight application to boost your project performance</p></li>
                <li><p>Seamless editing across content blocks and types</p></li>
                <li><p>Design your application declaratively, Cloudy builds the interface for you</p></li>
            </ul>
            <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button>
        </div>
        <div class="whyCloudyDivGif">
            <iframe src="https://giphy.com/embed/dw924n9Tgpd0oZhiIq" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>

<div id="pricingTitle" class="containerTitle">
    <h2>Pricing</h2>
    <div class="communityEdition">Community Edition</div>
    <p>
        While we continue to work hard to expand the Cloudy platform, we are introducing the CMS under a 'Community Edition' license. The purpose is to build a group of users from whom we ask feedback every once in a while and learn. In exchange for sharing your experience with us, you'll keep this price forever.
    </p>
</div>
<div class="pricingContainer">
    <div class="pricingDiv block">
        <div class="communityEdition"><h3>Free Plan</h3></div>
        <p class="priceHero">Free</p>
        <p class="pricingEl">Unlimited instances</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For non-commercial projects and start ups with < $100k yearly revenue</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button">Start using</button>
        </div>
        <div class="pricingFooter">
            <p>All Cloudy features, including:</p>
            <ul class="footer-ul">
                <li>Auto-generate the CMS</li>
                <li>CRUD application</li>
                <li>Edit field controls</li>
                <li>Custom columns and editor fields</li>
                <li>Powerful search and filter</li>
            </ul>
        </div>
    </div>
    <div class="pricingDiv block">
        <div class="communityEdition"><h3>SME Plan</h3></div>
        <p class="priceHero">$100</p>
        <p class="pricingEl">Per month, per instance</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For Small, Medium, Enterprise businesses with > $100k yearly revenue</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button">Buy</button>
            <button id="trialBtn" class="button">Start free trial</button>
        </div>
        <div class="pricingFooter">
            <p>All Cloudy features, including:</p>
            <ul class="footer-ul">
                <li>Auto-generate the CMS</li>
                <li>CRUD application</li>
                <li>Edit field controls</li>
                <li>Custom columns and editor fields</li>
                <li>Powerful search and filter</li>
            </ul>
        </div>
    </div>
</div>

<div class="finalCallContainer">
    <h2 id="finalCallTxt">Reach us here</h2>
    <p><i class="fa-solid fa-envelope"></i>hello@cloudy.net</p>
    <p><i class="fa-solid fa-square-phone-flip"></i>+46 76 496 4522</p>
</div>

