@{
    ViewData["Title"] = "home";
}


<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Launch <em id="cycler">faster</em> than you ever have</h1><br>
        <p>Cloudy is a simple, powerful, cross platform Content Management System to help you release better and faster. For .NET and EF Core.</p><br>
        <button id="buyBtn" class="button" onclick="showAlert()">Start using</button><br>
        <button id="exploreBtn" class="button" onclick="window.open('https://github.com/cloudy-cms/Cloudy.CMS');" value="Go to GitHub">See code on GitHub</button>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div id="businessTitle" class="containerTitle">
    <h2>For agencies</h2>
</div>
<div class="uspContainer">
    <div class="uspDiv block">
        <h3>Launch faster</h3>
        <p>Few lines of code get you very far. Cloudy significantly reduces time to market of your applications. Bringing better margins and more value.</p>
        <i class="fa-solid fa-rocket fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/agencies">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>Enjoy ultimate freedom</h3>
        <p>Power and extend your applications with whatever you want. Cloudy lets you extend and integrate with anything .NET and EF Core support.</p>
        <i class="fa-solid fa-martini-glass-citrus fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/agencies">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>Empower your teams</h3>
        <p>You need workable tech. Cloudy is built better, with modern implementation of key features, great editor experience and makes developers happier.</p>
        <i class="fa-solid fa-hand-holding-heart fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/agencies">Learn more</a>
    </div>
</div>

<div id="developerTitle" class="containerTitle">
    <h2>For developers</h2>
</div>
<div class="uspContainer">
    <div class="uspDiv block">
        <h3>Cloudy plays with your system, instead of you with ours</h3>
        <p>Cloudy reads your EF Core models to auto generate an admin interface for an application. Be it any web, desktop, native or custom platform.</p>
        <i class="fa-solid fa-code fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/developers">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>You design the application just how you want it</h3>
        <p>Cloudy supports any and all functionality also supported by EF Core and .NET. For example, that means pick the database that you think is best for your solution.</p>
        <i class="fa-brands fa-windows fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/developers">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>More powerful solutions, reduced maintenance</h3>
        <p>The Cloudy package on top of your app is at a fraction of other CMS, even when comparing only common functionality. Less complexity, more standard components.</p>
        <i class="fa-solid fa-face-laugh-beam fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/developers">Learn more</a>
    </div>
</div>

<div id="pricingTitle" class="containerTitle">
    <h2>Features</h2>
</div>
<div class="featureContainer">
    <div class="featureDiv block">
        <i class="fa-solid fa-cubes fa-2x"></i>
        <h3>Hybrid-headless - use as headless, coupled or both</h3>
        <p>You decide. Combine, extend, whatever gets you going.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-language fa-2x"></i>
        <h3>Scan EF Core to create content types</h3>
        <p>Design your data model, Cloudy interprets the entities.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-arrows-rotate fa-2x"></i>
        <h3>Advanced state manager</h3>
        <p>Track unsaved changes and reconciliate conflicts.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-people-arrows fa-2x"></i>
        <h3>Conflict resolution assistant</h3>
        <p>Real-time notification of conflicts and suggestions to solve them.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-shapes fa-2x"></i>
        <h3>Build with blocks across pages and views</h3>
        <p>Embed single blocks, link blocks across other blocks.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-file-code fa-2x"></i>
        <h3>Code-first data model</h3>
        <p>Data model stored declaratively, version controlled, deployed with your app.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-database fa-2x"></i>
        <h3>Built in support for any database in EF Core</h3>
        <p>Literally anything. Inmemory, SQLite, SQL Server, CosmosDB...</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-magnifying-glass-arrow-right fa-2x"></i>
        <h3>Search, sort, filter your entities</h3>
        <p>Find things easily and intuitively.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-pen-to-square fa-2x"></i>
        <h3>Custom columns and edit field controls</h3>
        <p>An edit environment you design.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-photo-film fa-2x"></i>
        <h3>Media picker</h3>
        <p>Select any file right from the admin UI.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-square-plus fa-2x"></i>
        <h3>CRUD application</h3>
        <p>Manage your entities easily from the admin UI.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-brain fa-2x"></i>
        <h3>Expressive admin UI</h3>
        <p>Cloudy reads and interprets whatever you do.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-arrow-up-a-z fa-2x"></i>
        <h3>Automated naming support</h3>
        <p>Pluralisation of your entities in the admin UI.</p>
    </div>
    <div class="nextFeature featureDiv block" onclick="window.location.href = 'mailto:hello@cloudy.net?subject=Featureeeeeeeeee';">
        <i class="fa-solid fa-plus fa-4x"></i>
        <h3>What should we work on next?</h3>
    </div>
</div>

<div id="pricingTitle" class="containerTitle">
    <h2>Pricing</h2>
</div>
<div class="pricingContainer">
    <div class="pricingDiv block">
        <div class="tierTitle"><h3>Community</h3></div>
        <p class="priceHero">Free</p>
        <p class="pricingEl">Unlimited instances</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For hobby and non-commercial projects</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button" onclick="showAlert()">Start using</button>
        </div>
        <div class="pricingFooter">
            <img src="~/assets/images/logonb.png" alt="Cloudy logo" width="140" height="84.686" />
        </div>
    </div>
    <div class="pricingDiv block">
        <div class="tierTitle"><h3>Freelancer</h3></div>
        <p class="priceHero">$25</p>
        <p class="pricingEl">Per month, per instance</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For independent contractors</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button" onclick="showAlert()">Buy</button>
            <button id="trialBtn" class="button" onclick="showAlert()">Start free trial</button>
        </div>
        <div class="pricingFooter">
            <img src="~/assets/images/logonb.png" alt="Cloudy logo" width="140" height="84.686" />
        </div>
    </div>
    <div class="pricingDiv block">
        <div class="tierTitle"><h3>Agency</h3></div>
        <p class="priceHero">$100</p>
        <p class="pricingEl">Per month, per instance</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For digital agencies and business</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button" onclick="showAlert()">Buy</button>
            <button id="trialBtn" class="button" onclick="showAlert()">Start free trial</button>
        </div>
        <div class="pricingFooter">
            <img src="~/assets/images/logonb.png" alt="Cloudy logo" width="140" height="84.686" />
        </div>
    </div>
</div>

<div class="finalCallContainer">
    <h2 id="finalCallTxt">Reach us here</h2>
    <p><i class="fa-solid fa-envelope"></i>hello@cloudy.net</p>
    <p><i class="fa-solid fa-square-phone-flip"></i>+46 76 06 66 920</p>
</div>

