@using cloudy_website.Models;
@model cloudy_website.Models.Page;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cloudy</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>@Model.Name</h1>
    @Html.Raw(Model.MainBody)

    <div class="uspContainer">
        @await Html.PartialAsync("TeaserBlock", Model.Teaser1)
        @await Html.PartialAsync("TeaserBlock", Model.Teaser2)
        @await Html.PartialAsync("TeaserBlock", Model.Teaser3)
    </div>
</body>
</html>

