@{
    ViewData["Title"] = "add ons";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Extend your project with anything</h1><br>
        <p>Cloudy is a hybrid-headless CMS and supports anything .NET and EF Core support. Connect any marketing or analytics tool, plug any front-end, use any EF Core supported database. Go wild.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div class="finalCallContainer">
    <h2 id="finalCallTxt">Coming soon</h2>
    <p><i class="fa-solid fa-envelope"></i>hello@cloudy.net</p>
    <p><i class="fa-solid fa-square-phone-flip"></i>+46 76 496 4522</p>
</div>