@{
    ViewData["Title"] = "for agencies";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Take the time and maintenace out of back offices</h1><br>
        <p>Build a custom CRM or any CRUD application in the 10 minutes you have between meetings. You might still have time for coffee</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button" onclick="window.location.href = 'mailto:hello@cloudy.net';">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div class="finalCallContainer">
    <h2 id="finalCallTxt">Want to talk?</h2>
    <p><i class="fa-solid fa-envelope"></i>hello@cloudy.net</p>
    <p><i class="fa-solid fa-square-phone-flip"></i>+46 76 06 66 920</p>
</div>

<div class="uspContainer notHomeMargin">
    <div class="uspDiv block">
        <h3>Deliver more projects</h3>
        <p>Free your team from spending significant time to build and maintain back offices. Instead, focus on delivering the creative solutions that drive your business forward.</p>
        <i class="fa-solid fa-rocket fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/agencies">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>Write and maintain less code</h3>
        <p>You can build a basic CRUD application with &lt;150 lines of code. Cloudy utilises standard components so you can build what you need with as few arguments as possible.</p>
        <i class="fa-solid fa-martini-glass-citrus fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/agencies">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>Make your staff happier</h3>
        <p>Cloudy plays with your system instead of you with ours. Focus on writing your business logic, spend minimum time on integration.</p>
        <i class="fa-solid fa-hand-holding-heart fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/agencies">Learn more</a>
    </div>
</div>
