@{
    ViewData["Title"] = "for agencies";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>A solution for commercial creatives who need speed</h1><br>
        <p>Getting to market quickly is important. So is having a technical solution that is flexible and easy to maintain. Your focus should be on developing value for your customers. Cloudy will build the CMS.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div class="finalCallContainer">
    <h2 id="finalCallTxt">Want to talk? Let's</h2>
    <p><i class="fa-solid fa-envelope"></i>hello@cloudy.net</p>
    <p><i class="fa-solid fa-square-phone-flip"></i>+46 76 496 4522</p>
</div>

<div class="uspContainer notHomeMargin">
    <div class="uspDiv block">
        <h3>Launch faster</h3>
        <p>Launch with speed and quality. Cloudy is built for simplicity, eliminating the need for lengthy and complex integrations.</p>
        <i class="fa-solid fa-rocket fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/agencies">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>Enjoy ultimate freedom</h3>
        <p>Power and extend your applications with whatever you want. Cloudy lets you extend and integrate with anything .NET supports.</p>
        <i class="fa-solid fa-martini-glass-citrus fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/agencies">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>Empower your teams</h3>
        <p>You need technology your colleagues can work with. Cloudy has great editor experience and makes developers happier.</p>
        <i class="fa-solid fa-hand-holding-heart fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/agencies">Learn more</a>
    </div>
</div>