@{
    ViewData["Title"] = "for developers";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>The CMS you've been longing for</h1><br>
        <p>First things first: the developer. We originally set out on a journey to build a CMS with great developer experience. We think this is it.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button" onclick="window.open('https://github.com/cloudy-cms/Cloudy.CMS');" value="Go to GitHub">Check code on GitHub</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div class="whyCloudyContainer">
    <div class="whyCloudyDiv">
        <div class="whyCloudyDivTxt">
            <h3 class="whyCloudyDivTxtEl philosophyHeadingP">Data model in POCOs</h3>
            <p class="whyCloudyDivTxtEl">Your data model is stored declaratively, in code, version controlled, and deployed with your application.</p>
            <p>Content types do not get saved in some database, and they do not get created by point and click.</p>
            <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button>
        </div>
        <div class="whyCloudyDivGif forDevsImg">
            <img src="~/assets/images/POCOs.png" alt="Plain Old C# Objects" />
        </div>
    </div>
    <div class="whyCloudyDiv right">
        <div class="whyCloudyDivGif forDevsImg">
            <img src="~/assets/images/scaffolding.png" alt="Example of scaffolding" />
        </div>
        <div id="whyCloudyRight" class="whyCloudyDivTxt">
            <h3 class="whyCloudyDivTxtEl philosophyHeadingP">Extensible, automatic scaffolding</h3>
            <p class="whyCloudyDivTxtEl">Using regular Razor partials and UI Hints, you extend the scaffolding that the CMS provides you.</p>
            <div>
                <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button>
            </div>
        </div>
    </div>
    <div class="whyCloudyDiv">
        <div class="whyCloudyDivTxt">
            <h3 class="whyCloudyDivTxtEl philosophyHeadingP">Database</h3>
            <p class="whyCloudyDivTxtEl">Cloudy.CMS supports any database supported by EF Core: Inmemory, SQLite, SQL Server, CosmosDB ...</p>
            <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button>
        </div>
        <div class="whyCloudyDivGif forDevsImg">
            
        </div>
    </div>
</div>

<div class="finalCallContainer">
    <h2 id="finalCallTxt">Want to talk? Let's</h2>
    <p><i class="fa-solid fa-envelope"></i>hello@cloudy.net</p>
    <p><i class="fa-solid fa-square-phone-flip"></i>+46 76 496 4522</p>
</div>

<div class="uspContainer notHomeMargin">
    <div class="uspDiv block">
        <h3>Cloudy plays with your system, instead of you with ours</h3>
        <p>Cloudy reads your EF Core models to auto generate an admin interface for an application. Be it any web, desktop, native or custom platform.</p>
        <i class="fa-solid fa-code fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/developers">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>You design the application just how you want it</h3>
        <p>Cloudy supports any and all functionality also supported by .NET and EF Core. For example, that means pick the database that you think is best for your solution.</p>
        <i class="fa-brands fa-windows fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/developers">Learn more</a>
    </div>
    <div class="uspDiv block">
        <h3>More powerful solutions, reduced maintenance</h3>
        <p>The Cloudy package on top of your app is at a fraction of other CMS, even when comparing only common functionality. Less complexity, more standard components.</p>
        <i class="fa-solid fa-face-laugh-beam fa-2x"></i><a class="uspLink hover-underline-animation" href="/resources/developers">Learn more</a>
    </div>
</div>