@{
    ViewData["Title"] = "about";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>We're building the next generation CMS</h1><br>
        <p>Cloudy is a simple, powerful, cross platform Content Management System to help you release better and faster. For .NET and EF Core.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>