@{
    ViewData["Title"] = "careers";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>We're building the next generation CMS</h1><br>
        <p>There are currently no open vacancies. But if our mission excites you, let's talk.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div class="finalCallContainer">
    <h2 id="finalCallTxt">Contact us</h2>
    <p><i class="fa-solid fa-envelope"></i>hello@cloudy.net</p>
    <p><i class="fa-solid fa-square-phone-flip"></i>+46 76 496 4522</p>
</div>