@{
    ViewData["Title"] = "contact";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Contact details</h1><br>
        <p>Reach out about all things Cloudy or anything else that's on your mind</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div class="uspContainer notHomeMargin">
    <div class="uspDiv block">
        <h3>Email</h3>
        <p>hello@cloudy.net</p>
        <i class="fa-solid fa-envelope fa-2x"></i>
    </div>
    <div class="uspDiv block">
        <h3>Phone</h3>
        <p>+46 76 496 4522</p>
        <i class="fa-solid fa-square-phone-flip fa-2x"></i>
    </div>
    <div class="uspDiv block">
        <h3>Location</h3>
        <p>Coming soon ...</p>
        <i class="fa-solid fa-face-laugh-beam fa-2x"></i>
    </div>
</div>