@{
    ViewData["Title"] = "contact";
}

<div class="heroContainer">
    <div class="spacerDivBig"></div>
    <div>
        <h1>Support</h1><br>
        <p>Reach out about all things Cloudy or anything else that's on your mind</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button" onclick="window.location.href = 'mailto:hello@cloudy.net';"><span>Reach out  </span></button>
    </div>
</div>

<div class="container notHomeMargin">
    <div class="useCaseDiv block">
        <h3>Customer portal</h3>
        <p>Manage your subscription in our Stripe customer portal by clicking <a class="hover-underline-animation uspLink" target="_blank" href="https://billing.stripe.com/p/login/eVafZtdmU3BjecgeUU">here &#9756;</a></p>
        <i class="fa-solid fa-face-laugh-beam fa-2x"></i>
    </div>
    <div class="useCaseDiv block">
        <h3>Email</h3>
        <p>hello@cloudy.net</p>
        <i class="fa-solid fa-envelope fa-2x"></i>
    </div>
    <div class="useCaseDiv block">
        <h3>Phone</h3>
        <p>+46 76 06 66 920</p>
        <i class="fa-solid fa-square-phone-flip fa-2x"></i>
    </div>
</div>
