<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Turn off GA cookies by default -->
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }

        gtag('consent', 'default', {
            // 'ad_storage': 'denied',
            // 'analytics_storage': 'denied'
        });</script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-07PD63E8DL"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-07PD63E8DL');</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Launch faster with Cloudy CMS - @ViewData["Title"]</title>
    <meta name="description" content="Use Cloudy CMS to launch solutions for your clients, faster." />
    <meta property="og:title" content="Use Cloudy CMS to launch solutions for your clients, faster" />
    <meta property="og:url" content="https://wwwcloudynet.azurewebsites.net/home" />
    <meta property="og:image" content="https://res.cloudinary.com/ficka/image/upload/v1674680499/cloudy-website/socialslogo_poafcy.png" />
    <meta property="og:description" content="How Cloudy significantly reduces time to market, maintenance and makes your developers happier." />
    <script src="https://kit.fontawesome.com/cb6356502a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <nav>
        <a class="menuSmall" href="/home"><img src="~/assets/images/logonb.png" alt="Cloudy logo" width="40" height="24.196" /></a>
        <ul class="hideOnSmall">
            <li class="hover-underline-animation">
                <a href="/home"><img src="~/assets/images/logonb.png" alt="Cloudy logo" width="30" height="18.147" /></a>
                <a id="logoTxt" class="logo" href="/home">Cloudy</a>
            </li>
            <li class="navHover">
                <a id="navProduct" class="navItem" href="">Product</a>
                <div id="dropdownProduct" class="dropdownContent block">
                    <a class="navItem hover-underline-animation" href="/product/pricing">Pricing</a>
                    <a class="navItem comingSoon"><span>Philosophy</span></a>
                    <a class="navItem comingSoon"><span>Portfolio</span></a>
                    <a class="navItem hover-underline-animation" href="/product/features">Features</a>
                </div>
            </li>
            <li class="navHover">
                <a class="navItem" href="">Resources</a>
                <div id="dropdownResources" class="dropdownContent block">
                    <a class="navItem hover-underline-animation" href="/resources/agencies">For agencies</a>
                    <a class="navItem hover-underline-animation" href="/resources/developers">For developers</a>
                    <a class="navItem hover-underline-animation" target="_blank" href="https://billing.stripe.com/p/login/eVafZtdmU3BjecgeUU">Manage subscription</a>
                    <a class="navItem comingSoon"><span>Add ons</span></a>
                    <a class="navItem hover-underline-animation" href="/resources/docs">Docs</a>
                </div>
            </li>
            <li class="navHover">
                <a class="navItem" href="">About</a>
                <div id="dropdownAbout" class="dropdownContent block">
                    <a class="navItem comingSoon"><span>About</span></a>
                    <a class="navItem comingSoon"><span>Careers</span></a>
                    <a class="navItem hover-underline-animation" href="/about/contact">Contact</a>
                </div>
            </li>
            <li class="hover-underline-animation"><a id="test" target="_blank" href="https://github.com/cloudy-cms/Cloudy.CMS" title="Github"><i class="fa-brands fa-github fa-lg"></i></a></li>
            <li class="hover-underline-animation"><a target="_blank" href="https://twitter.com/cloudydotnet" title="Twitter"><i class="fa-brands fa-twitter fa-lg"></i></a></li>
            <li class="hover-underline-animation"><a target="_blank" href="https://www.youtube.com/channel/UC8BRpzvX5J9n8-2G1KIf5xg" title="Youtube"><i class="fa-brands fa-youtube fa-lg"></i></a></li>
        </ul>
        <a id="hamburger" class="menuSmall" title="Hamburger"><i class="fa-solid fa-bars fa-2x"></i></a>
        <div id="dropdownHamburger" class="dropdownContentHamburger block">
            <div class="dropdownElements">
                <i id="closeMenuSmall" class="fa-solid fa-xmark fa-2x"></i>
                <div class="dropdownSection">
                    <p class="dropdownHamburgerHeader">Product</p>
                    <a class="hover-underline-animation" href="/product/pricing">Pricing</a>
                    <a class="navItem comingSoon"><span>Philosophy</span></a>
                    <a class="comingSoon"><span>Portfolio</span></a>
                    <a class="hover-underline-animation" href="/product/features">Features</a>
                </div>
                <div class="dropdownSection">
                    <p class="dropdownHamburgerHeader">Resources</p>
                    <a class="hover-underline-animation" href="/resources/agencies">For agencies</a>
                    <a class="hover-underline-animation" href="/resources/developers">For developers</a>
                    <a class="hover-underline-animation" target="_blank" href="https://billing.stripe.com/p/login/eVafZtdmU3BjecgeUU">Manage subscription</a>
                    <a class="comingSoon"><span>Add ons</span></a>
                    <a class="hover-underline-animation" href="/resources/docs">Docs</a>
                </div>
                <div class="dropdownSection">
                    <p class="dropdownHamburgerHeader">About</p>
                    <a class="comingSoon"><span>About</span></a>
                    <a class="comingSoon"><span>Careers</span></a>
                    <a class="hover-underline-animation" href="/about/contact">Contact</a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="footer-column-left">
            <img src="~/assets/images/logowb.jpeg" alt="Cloudy logo" width="150" height="150" />
            <p>Cloudy is a simple, powerful, cross platform Content Management System to help you release better and faster. For .NET and EF Core.</p>
        </div>
        <div class="footer-column-right">
            <div class="footer-column-right-top">
                <div class="footer-column-right-top-el">
                    <h4>Product</h4>
                    <ul class="footer-ul">
                        <li><a class="footerEl" href="/product/pricing">Pricing</a></li>
                        <li><a class="footerEl comingSoon"><span>Philosophy</span></a></li>
                        <li><a class="footerEl comingSoon"><span>Portfolio</span></a></li>
                        <li><a class="footerEl" href="/product/features">Features</a></li>
                    </ul>
                </div>
                <div class="footer-column-right-top-el">
                    <h4>Resources</h4>
                    <ul class="footer-ul">
                        <li><a class="footerEl" href="/resources/agencies">For agencies</a></li>
                        <li><a class="footerEl" href="/resources/developers">For developers</a></li>
                        <li><a class="footerEl" target="_blank" href="https://billing.stripe.com/p/login/eVafZtdmU3BjecgeUU">Manage subscription</a></li>
                        <li><a class="footerEl comingSoon"><span>Add ons</span></a></li>
                        <li><a class="footerEl" href="/resources/docs">Docs</a></li>
                    </ul>
                </div>
                <div class="footer-column-right-top-el">
                    <h4>About</h4>
                    <ul class="footer-ul">
                        <li><a class="footerEl comingSoon"><span>About</span></a></li>
                        <li><a class="footerEl comingSoon"><span>Careers</span></a></li>
                        <li><a class="footerEl" href="/about/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-column-right-middle">
                <a target="_blank" href="https://github.com/cloudy-cms/Cloudy.CMS" title="Github"><i class="fa-brands fa-github fa-2x"></i></a>
                <a target="_blank" href="https://twitter.com/cloudydotnet" title="Twitter"><i class="fa-brands fa-twitter fa-2x"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UC8BRpzvX5J9n8-2G1KIf5xg" title="Youtube"><i class="fa-brands fa-youtube fa-2x"></i></a>
            </div>
            <div class="footer-column-right-bottom">
                <p class="footerEl legalFooterTxt">&#169 2023 Cloudy. All rights reserved. &nbsp;&nbsp;&nbsp;<a class="footerEl legalFooterTxt" target="_blank" href="https://www.termsfeed.com/live/963d6ddb-78f5-4a43-9835-502f6d0b0472">Privacy policy</a> &nbsp;&nbsp;&nbsp;<a class="footerEl legalFooterTxt" target="_blank" href="https://www.termsfeed.com/live/50da1d1b-bb3d-4f51-b8a7-3b4a26709741">Terms and conditions</a></p>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

