@{
    ViewData["Title"] = "features";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Powerful features for better experience</h1><br>
        <p>Cloudy is a hybrid-headless Content Management System that leaves you with all your options open and enables a simple, effective, editor interface.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button" onclick="window.open('https://github.com/cloudy-cms/Cloudy.CMS');" value="Go to GitHub">See code on GitHub</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div id="pricingTitlePricing" class="containerTitle">
    <h2>Features</h2>
</div>
<div class="featureContainer">
    <div class="featureDiv block">
        <i class="fa-solid fa-cubes fa-2x"></i>
        <h3>Hybrid-headless - use as headless, coupled or both</h3>
        <p>You decide. Combine, extend, whatever gets you going.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-language fa-2x"></i>
        <h3>Scan EF Core to create content types</h3>
        <p>Design your data model, Cloudy interprets the entities.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-arrows-rotate fa-2x"></i>
        <h3>Advanced state manager</h3>
        <p>Track unsaved changes and reconciliate conflicts.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-shapes fa-2x"></i>
        <h3>Build with blocks across pages and views</h3>
        <p>Embed single blocks, link blocks across other blocks.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-file-code fa-2x"></i>
        <h3>Code-first data model</h3>
        <p>Data model stored declaratively, version controlled, deployed with your app.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-database fa-2x"></i>
        <h3>Built in support for any database in EF Core</h3>
        <p>Literally anything. Inmemory, SQLite, SQL Server, CosmosDB...</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-magnifying-glass-arrow-right fa-2x"></i>
        <h3>Search, sort, filter your entities</h3>
        <p>Find things easily and intuitively.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-pen-to-square fa-2x"></i>
        <h3>Custom columns and edit field controls</h3>
        <p>An edit environment you design.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-photo-film fa-2x"></i>
        <h3>Media picker</h3>
        <p>Select any file right from the admin UI.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-square-plus fa-2x"></i>
        <h3>CRUD application</h3>
        <p>Manage your entities easily from the admin UI.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-brain fa-2x"></i>
        <h3>Expressive admin UI</h3>
        <p>Cloudy reads and interprets whatever you do.</p>
    </div>
    <div class="featureDiv block">
        <i class="fa-solid fa-arrow-up-a-z fa-2x"></i>
        <h3>Automated naming support</h3>
        <p>Pluralisation of your entities in the admin UI.</p>
    </div>
    <div class="nextFeature featureDiv block" onclick="window.location.href = 'mailto:hello@cloudy.net?subject=Featureeeeeeeeee';">
        <i class="fa-solid fa-plus fa-4x"></i>
        <h3>What should we work on next?</h3>
    </div>
</div>