@{
    ViewData["Title"] = "philosophy";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Fast to launch, easy to maintain</h1><br>
        <p>Cloudy has a purpose - a powerful out-of-the-box solution that allows you to focus on what you do best, while auto generating the system for you.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div id="philosophyTitle" class="containerTitle">
    <h2>Our Philosophy</h2>
</div>
<div class="whyCloudyContainer">
    <div class="whyCloudyDiv">
        <div class="whyCloudyDivTxt">
            <h3 class="whyCloudyDivTxtEl philosophyHeadingP">Speed</h3>
            <p class="whyCloudyDivTxtEl">Launching fast is top priority. Lengthy projects and gut wrenching integration with a CMS delay time to insight. Today is about monetising high frequency, short term bets - with a long term vision. Technology is the key enabler.</p>
            <ul class="whyCloudyDivTxtEl">
                <li><p>Launch with the Cloudy CMS in minutes, not weeks</p></li>
                <li><p>Focus on creating value for customers, not digging into vendor lock-in</p></li>
                <li><p>Respond to change quickly with flexible technology</p></li>
            </ul>
            <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button>
        </div>
        <div class="whyCloudyDivGif">
            <iframe src="https://giphy.com/embed/D1oBuuG3dBsR2RaxlR" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
    <div class="whyCloudyDiv right">
        <div class="whyCloudyDivGif">
            <iframe src="https://giphy.com/embed/nYFLdc1qjkeygLFqGq" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        <div id="whyCloudyRight" class="whyCloudyDivTxt">
            <h3 class="whyCloudyDivTxtEl philosophyHeadingP">Freedom</h3>
            <p class="whyCloudyDivTxtEl">A CMS is at the centre of your digital strategy. A system that needs to work with the application design choices that best fit your requirements, without imposing such choices onto you. Cloudy supports anything .NET and EF Core support.</p>
            <ul class="whyCloudyDivTxtEl">
                <li><p>Anything supported in .NET and EF Core, Cloudy supports</p></li>
                <li><p>Strategy and customer requirements drive technology design</p></li>
                <li><p>The CMS cannot hijack your whole application</p></li>
            </ul>
            <div>
                <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button>
            </div>
        </div>
    </div>
    <div class="whyCloudyDiv">
        <div class="whyCloudyDivTxt">
            <h3 class="whyCloudyDivTxtEl philosophyHeadingP">Power</h3>
            <p class="whyCloudyDivTxtEl">Cloudy is extremely lightweight - it clocks in as a 150kb package on top of your application. A seamsless editor and developer experience allow your teams to focus on what they do best - to CREATE.</p>
            <ul class="whyCloudyDivTxtEl">
                <li><p>A lighweight application to boost your project performance</p></li>
                <li><p>Seamless editing across content blocks and types</p></li>
                <li><p>Design your application declaratively, Cloudy builds the interface for you</p></li>
            </ul>
            <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button>
        </div>
        <div class="whyCloudyDivGif">
            <iframe src="https://giphy.com/embed/dw924n9Tgpd0oZhiIq" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>