@{
    ViewData["Title"] = "portfolio";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Cloudy powers a variety of use-cases</h1><br>
        <p>From websites, more complex web apps, to on-premise applications and mobile solutions, Cloudy is cross-platform and easy to implement.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div class="finalCallContainer">
    <h2 id="finalCallTxt">Coming soon</h2>
    <p><i class="fa-solid fa-envelope"></i>hello@cloudy.net</p>
    <p><i class="fa-solid fa-square-phone-flip"></i>+46 76 496 4522</p>
</div>