@{
    ViewData["Title"] = "pricing";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Now launching the Cloudy Community Edition</h1><br>
        <p>To a limited audience, we are launching the Cloudy Community license. Talk to us about your experience. In exchange, you'll keep this license fee and get all future product updates forever.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div id="pricingTitle" class="containerTitle">
    <h2>Pricing</h2>
    <div class="communityEdition">Community Edition</div>
</div>
<div class="pricingContainer">
    <div class="pricingDiv block">
        <div class="communityEdition"><h3>Free Plan</h3></div>
        <p class="priceHero">Free</p>
        <p class="pricingEl">Unlimited instances</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For non-commercial projects and start ups with < $100k yearly revenue</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button">Start using</button>
        </div>
        <div class="pricingFooter">
            <p>All Cloudy features, including:</p>
            <ul class="footer-ul">
                <li>Auto-generate the CMS</li>
                <li>CRUD application</li>
                <li>Edit field controls</li>
                <li>Custom columns and editor fields</li>
                <li>Powerful search and filter</li>
            </ul>
        </div>
    </div>
    <div class="pricingDiv block">
        <div class="communityEdition"><h3>SME Plan</h3></div>
        <p class="priceHero">$100</p>
        <p class="pricingEl">Per month, per instance</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For Small, Medium, Enterprise businesses with > $100k yearly revenue</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button">Buy</button>
            <button id="trialBtn" class="button">Start free trial</button>
        </div>
        <div class="pricingFooter">
            <p>All Cloudy features, including:</p>
            <ul class="footer-ul">
                <li>Auto-generate the CMS</li>
                <li>CRUD application</li>
                <li>Edit field controls</li>
                <li>Custom columns and editor fields</li>
                <li>Powerful search and filter</li>
            </ul>
        </div>
    </div>
</div>