@{
    ViewData["Title"] = "pricing";
}

<div class="heroContainer">
    <div class="spacerDivBig"></div>
    <div>
        <h1>Pricing</h1><br>
        <p>Need custom pricing or additional services? Let us know</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button" onclick="window.location.href = 'mailto:hello@cloudy.net';"><span>Reach out  </span></button><br>
    </div>
</div>

<div id="pricingTitlePricing" class="containerTitle">
    <h2>Pricing</h2>
</div>
<div class="pricingContainer">
    <div class="pricingDiv block">
        <div class="tierTitle"><h3>Community</h3></div>
        <p class="priceHero">Free</p>
        <p id="freeVAT" class="pricingEl VAT">.</p>
        <p class="pricingEl">Unlimited instances</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For hobby and non-commercial projects</p>
        </div>
        <div class="pricingBtns">
            <button class="buyBtn button" onclick="showAlert()"><span>Try it  </span></button>
        </div>
        <div class="pricingFooter">
            <img src="~/assets/images/logonb.png" alt="Cloudy logo" width="140" height="84.686" />
        </div>
    </div>
    <div class="pricingDiv block">
        <div class="tierTitle"><h3>Freelancer</h3></div>
        <p class="priceHero">$25</p>
        <p class="pricingEl VAT">excl. VAT</p>
        <p class="pricingEl">Per month, per instance</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For independent contractors</p>
        </div>
        <div class="pricingBtns">
            <button class="buyBtn button" onclick="window.open('https://buy.stripe.com/aEU7uoaA78l60VOeUZ')"><span>Buy  </span></button>
            <p class="refundTxt">
                Not happy within 3 months?<br />
                Tell us and get a full refund
            </p>
        </div>
        <div class="pricingFooter">
            <img src="~/assets/images/logonb.png" alt="Cloudy logo" width="140" height="84.686" />
        </div>
    </div>
    <div class="pricingDiv block">
        <div class="tierTitle"><h3>Agency</h3></div>
        <p class="priceHero">$100</p>
        <p class="pricingEl VAT">excl. VAT</p>
        <p class="pricingEl">Per month, per instance</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For digital agencies and business</p>
        </div>
        <div class="pricingBtns">
            <button class="buyBtn button" onclick="window.open('https://buy.stripe.com/9AQaGA0ZxcBm6g8003')"><span>Buy  </span></button>
            <p class="refundTxt">
                Not happy within 3 months?<br />
                Tell us and get a full refund
            </p>
        </div>
        <div class="pricingFooter">
            <img src="~/assets/images/logonb.png" alt="Cloudy logo" width="140" height="84.686" />
        </div>
    </div>
</div>