@{
    ViewData["Title"] = "pricing";
}

<div class="heroContainer">
    <div class="heroComponent-left">
        <h1>Pricing for freelancers and agencies</h1><br>
        <p>Now releasing Cloudy for non-commercial projects, independent contractors and digital agencies. Need custom pricing or additional services? Let's talk.</p><br>
        <button class="whyCloudyDivTxtEl reachBtn button" onclick="window.location.href = 'mailto:hello@cloudy.net';">Reach out</button><br>
    </div>
    <div class="heroComponent-right">
        <img id="heroLogo" src="~/assets/images/logonb.png" alt="Cloudy logo" width="360" height="217.764" />
    </div>
</div>

<div id="pricingTitlePricing" class="containerTitle">
    <h2>Pricing</h2>
</div>
<div class="pricingContainer">
    <div class="pricingDiv block">
        <div class="tierTitle"><h3>Community</h3></div>
        <p class="priceHero">Free</p>
        <p class="pricingEl">Unlimited instances</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For hobby and non-commercial projects</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button" onclick="showAlert()">Start using</button>
        </div>
        <div class="pricingFooter">
            <img src="~/assets/images/logonb.png" alt="Cloudy logo" width="140" height="84.686" />
        </div>
    </div>
    <div class="pricingDiv block">
        <div class="tierTitle"><h3>Freelancer</h3></div>
        <p class="priceHero">$25</p>
        <p class="pricingEl">Per month, per instance</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For independent contractors</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button" onclick="showAlert()">Buy</button>
            <button id="trialBtn" class="button" onclick="showAlert()">Start free trial</button>
        </div>
        <div class="pricingFooter">
            <img src="~/assets/images/logonb.png" alt="Cloudy logo" width="140" height="84.686" />
        </div>
    </div>
    <div class="pricingDiv block">
        <div class="tierTitle"><h3>Agency</h3></div>
        <p class="priceHero">$100</p>
        <p class="pricingEl">Per month, per instance</p>
        <div class="pricingSubTxt">
            <p class="pricingEl">For digital agencies and business</p>
        </div>
        <div class="pricingBtns">
            <button id="buyBtn" class="button" onclick="showAlert()">Buy</button>
            <button id="trialBtn" class="button" onclick="showAlert()">Start free trial</button>
        </div>
        <div class="pricingFooter">
            <img src="~/assets/images/logonb.png" alt="Cloudy logo" width="140" height="84.686" />
        </div>
    </div>
</div>