/* General */

* {
    /* CSS reset */
    margin: 0;
    padding: 0;
}

:root {
    --primaryBackground: #fbfcfe;
    --secondaryBackground: #e5e7eb;
    --primaryBrandColor: #1F91FF;
    --secondaryBrandColor: #B9D6F2;
    --tertiaryBrandColor: #7D4664;
    --primaryTxt: #2B2D37;
    --secondaryTxt: #444961;
    --boxContent: #ABB0BB;
    --boxShadow: #1F91FF;
    --boxShadowHover: #4e4e4e;
    --primaryBtn: #18AF79;
}

/* Font sizes

    Hero: 60px
    H1: 50px
    H2: 30px
    H3: 20px
    H4: 18px
    P, A primary: 14px
    P, A secondary (e.g. in footer): 12px
    CTA btn: 20px
    Normal btn: 18px

*/


body {
    background-color: var(--primaryBackground);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 auto;
}

h1, h2, h3 {
    color: var(--primaryTxt);
}

h1 {
    font-size: 60px;
    font-weight: 900;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

p, h4 {
    color: var(--secondaryTxt);
    line-height: 25px;
}

nav ul i, .block i, footer i {
    color: var(--secondaryTxt);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

#navYoutube {
    margin-right: 0px;
}


/* Standard components */

.spacerDivBig {
    height: 20vh;
    max-height: 160px;
}

.spacerDivSmall {
    height: 10vh;
    max-height: 80px;
}

.button {
    border-radius: 50px;
    background-image: linear-gradient(45deg, var(--primaryBtn), var(--primaryBtn), #96ce96);
    border: 0px solid;
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    letter-spacing: 0.5px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

    .button:active {
        transform: translateY(4px);
    }

.containerTitle {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    margin-top: 150px;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    border-radius: 10px;
    background-color: var(--primaryBackground);
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondaryBackground);
    padding: 10px;
}

    .block:hover {
        box-shadow: 0px 0px 25px -10px var(--boxShadowHover);
    }

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--primaryBrandColor);
}

    .hover-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: var(--primaryBrandColor);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

/* Navigation bar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--primaryBackground);
    z-index: 1;
}

    nav li {
        display: inline;
    }

    nav ul i, nav i {
        color: var(--secondaryTxt);
    }

.homeNavItem {
    margin-right: 15px;
}

.navItem {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: var(--secondaryTxt);
}

.logo {
    text-decoration: none;
    color: var(--secondaryTxt);
}

.hideOnSmall {
    display: inline;
}

.menuSmallContainer {
    display: none;
    width: 90%;
}

.menuSmallContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.menuSmallRight {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menuSmallRight a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
    margin-right: 15px;
    padding-left: 4px;
}

.GitHubStarsScore {
    color: var(--secondaryTxt);
    font-size: 13px;
}

#hamburger {
    margin-right: 0px;
    cursor: pointer;
    padding-left: 0px;
}

    #hamburger:hover .hamburger1,
    #hamburger .hamburger2 {
        opacity: 0;
        position: absolute;
    }

    #hamburger:hover .hamburger2 {
        opacity: 1;
        transition: opacity 500ms ease;
        position: absolute;
    }

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    cursor: pointer;
}

    .buttonContainer i {
        color: var(--boxContent);
    }

    .buttonContainer:active {
        transform: translateY(4px);
    }

#closeMobileMenu > div > i:hover {
    transform: rotate(-180deg);
    transition: all 500ms ease;
}

.mobileMenuContainer {
    display: none;
    background-color: rgba(0, 0, 25, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

    .mobileMenu {
        background-color: var(--primaryBackground);
        width: calc(100% - 30px);
        margin: 15px auto 0 auto;
        border-radius: 10px;
    }

        .mobileMenuHeader {
            width: 90%;
            height: 70px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
        }

        .mobileMenuBody {
            width: 90%;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            margin: 0 auto;
            padding-top: 15px;
            padding-bottom: 35px;
        }

            .mobileMenuBody a {
                text-decoration: none;
                color: var(--primaryTxt);
                font-weight: 500;
                font-size: 23px;
                width: fit-content;
            }

        .mobileMenuFooter {
            background-color: var(--secondaryBackground);
            height: 70px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            column-gap: 30px;
            padding-left: 5%;
        }

            .mobileMenuFooter i {
                color: var(--secondaryTxt);
            }

@keyframes show {
    0% {
        transform: translate(-120vw);
    }

    80% {
        transform: translate(-5px);
    }

    100% {
        transform: translate(0vw);
    }
}

.show {
    animation: show 0.2s forwards ease-in-out;
}

@media (max-width: 1000px) {
    nav {
        height: 70px;
    }
    .hideOnSmall {
        display: none;
    }
    .menuSmallContainer {
        display: inline;
    }
}


/* Hero container section */

.heroContainer {
    width: 90%;
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

    .heroCTA {
        border: 1px solid var(--secondaryBackground);
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        padding: 6px;
        width: fit-content;
        border-radius: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .heroCTA:active {
            transform: translateY(4px);
        }

        .heroCTA p, .heroCTA i {
            font-size: 0.875rem;
        }

        .heroCTATitle {
            background-image: linear-gradient(45deg, var(--primaryBtn), var(--primaryBtn), #96ce96);
            color: white;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 3px;
            padding-bottom: 3px;
            letter-spacing: 0.5px;
            font-weight: 500;
            border-radius: 10px;
        }

    .heroImg {
        box-shadow: 0 0 10px var(--secondaryBrandColor);
    }

    .heroCode {
        text-align: left;
        font-size: 10px;
        color: var(--tertiaryBrandColor);
        border: 1px solid var(--secondaryBackground);
        padding: 30px;
        border-radius: 10px;
        line-height: 20px;
        opacity: 0.6;
        position: relative;
        right: 100px;
    }

        .heroCodeHeader {
            display: flex;
            flex-direction: row;
            margin-bottom: 25px;
        }

            .heroCodeHeaderActions {
                display: flex;
                flex-direction: row;
                column-gap: 10px;
            }

            .heroCodeHeaderTxt {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-top: 5px;
                font-weight: 500;
            }

        .codeBlue {
            color: var(--primaryBrandColor);
        }

        .codeBlueWb {
            color: var(--primaryBrandColor);
            background-color: #e6f1ff;
            border-radius: 5px;
            padding: 3px;
        }

#cycler {
    background-image: linear-gradient(45deg, #0068CC, #1F91FF, #B9D6F2);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

.heroBreak {
    display: none;
}

#heroImgCard {
    position: relative;
    bottom: 300px;
    right: 320px;
    box-shadow: 0.2px 0.2px 70px #ebebff;
    border: 1px solid var(--secondaryBackground);
    border-radius: 10px;
}

#heroImgForm {
    position: relative;
    top: 150px;
    left: 200px;
    box-shadow: 0.2px 0.2px 70px #ebebff;
    border: 1px solid var(--secondaryBackground);
    border-radius: 10px;
    margin-bottom: -100px;
}

.buyBtn {
    min-width: 50%;
    height: 50px;
}

.techIconTxt {
    color: var(--boxContent);
}

.techIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

    .techIcon {
        margin: 25px;
    }

.heroBottomCTA {
    width: 70%;
    margin: 0 auto;
}

.tryItBtn {
    height: 50px;
    width: 200px;
    margin: 25px;
}

@media (max-width: 950px) {
    .heroCode {
        right: 0px;
    }
    #heroImgCard {
        bottom: 295px;
        right: 150px;
    }
    #heroImgForm {
        bottom: 260px;
        left: 0px;
        margin-bottom: -200px;
    }
    .heroBottomCTA {
        width: 90%;
    }
}
@media (max-width: 750px) {
    .heroBreak {
        display: block;
    }
    h1 {
        font-size: 8vw;
    }
}
@media (max-width: 700px) {
    .heroCode {
        font-size: 9px;
        padding: 10px;
        line-height: 19px;
    }
    .heroCodeHeader {
        margin-bottom: 10px;
    }
    #heroImgCard {
        height: auto;
        width: 40vw;
        bottom: 70px;
        right: 0px;
    }
    #heroImgForm {
        height: auto;
        width: 80vw;
        bottom: 60px;
        margin-bottom: 0px;
    }
}
@media (max-width: 500px) {
    #philosophyTitle {
        margin-top: 175px;
    }
    #pricingTitle {
        margin-top: 175px;
    }
    #heroLogo {
        display: none;
    }
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 25px;
    }
}
@media (max-width: 390px) {
    .techIcon {
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 25px;
    }
}


/* examples and references section */

.notHomeMargin {
    margin-top: 100px;
    margin-bottom: 100px;
}

    .notHomeMargin ul, .notHomeMargin pre {
        color: var(--secondaryTxt);
        padding-left: 30px;
    }

    .notHomeMargin h4 {
        color: var(--primaryTxt);
        padding-left: 15px;
    }

.useCaseDiv {
    flex: 1 0 40%;
    min-width: 250px;
}

    .useCaseDiv > * {
        margin-bottom: 10px;
    }

@media (max-width: 1197px) {
    .container {
        justify-content: center;
    }
}


/* Pricing container */

.uspContainer {
    margin-top: 175px;
}

.uspSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 175px;
}

.uspSectionLeft {
    width: 90%;
    text-align: center;
    min-width: 290px;
    max-width: 400px;
    margin: 0 auto;
}

.uspSectionRight {
    width: 90%;
    text-align: center;
    min-width: 290px;
    max-width: 400px;
    margin: 0 auto;
}

    .uspSectionLeft > a, .uspSectionRight > a {
        color: var(--primaryBrandColor);
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
    }

.uspSectionEl {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Pricing container */

.betaIntroWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.betaIntro {
    background-color: var(--secondaryBackground);
    width: 60%;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
}

    .betaIntro > h2 {
        margin-bottom: 30px;
    }

    .betaIntro > button {
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 30px;
    }

#pricingTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 250px;
}

#pricingTitlePricing { /* Also used for 'Features' title */
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
}

    #pricingTitle > p, #pricingTitlePricing > p {
        font-size: 16px;
    }

.tierTitle {
    background-color: var(--tertiaryBrandColor);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 25px -10px #4e4e4e;
    height: 35px;
    width: 250px;
    border-radius: 50px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

    .tierTitle > h3 {
        color: white;
    }

    .communityEdition > h3 {
        font-weight: normal;
        font-size: 16px;
    }

.pricingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    width: 90%;
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
}

.pricingDiv {
    flex: 1;
    text-align: center;
}

.priceHero {
    color: var(--primaryBrandColor);
    font-size: 40px;
    margin-top: 50px;
}

.pricingEl {
    margin-top: 15px;
}

#freeVAT {
    color: var(--primaryBackground);
}

.VAT {
    font-size: 12px;
}

.pricingSubTxt {
    min-height: 200px;
    max-width: 400px;
    margin: 0 auto;
}

.pricingBtns {
    min-height: 125px;
}

.refundTxt {
    font-size: 12px;
    margin-top: 15px;
    line-height: 15px;
}

.pricingFooter {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

@media (max-width: 960px) {
    .pricingContainer {
        flex-direction: column;
    }
}


/* Feature section */

.featureContainer {
    width: 90%;
    max-width: 1200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featureDiv {
    flex: 1 0 21%;
    min-width: 200px;
}

    .featureDiv > h3, .featureDiv > p, .featureDiv > i, .featureDiv > a {
        margin: 15px;
    }

.nextFeature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

    .nextFeature > h3 {
        font-weight: normal;
        color: var(--secondaryTxt);
    }



/* Final call container */

.finalCallContainer {
    width: 90%;
    margin-top: 250px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
    text-align: center;
}

#finalCallTxt {
    font-size: 45px;
    color: var(--primaryTxt);
    font-weight: bold;
    margin-bottom: 50px;
}


/* Used on the 'for developers' page */

#philosophyTitle {
    margin-top: 250px;
}

.whyCloudyContainer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    align-items: center;
}

.whyCloudyDiv {
    min-height: 400px;
    width: 100%;
    opacity: 0;
    transition: opacity 2.5s;
    transition-timing-function: ease;
    display: flex;
    justify-content: space-between;
}

.whyCloudyDivTxt {
    width: 50%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .whyCloudyDivTxt > ul > li {
        margin-left: 20px;
        margin-right: 20px;
        color: var(--secondaryTxt);
    }

.whyCloudyDivGif {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.forDevsImg img {
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
}

.philosophyHeadingP {
    font-size: 45px;
    color: var(--primaryTxt);
    font-weight: bold;
}

.reachBtn {
    height: 50px;
    width: 200px;
}

#whyCloudyRight {
    text-align: right;
    float: none;
}

    #whyCloudyRight > ul {
        direction: rtl;
    }

@media (max-width: 1116px) {
    .whyCloudyDiv {
        justify-content: center;
        flex-direction: column;
        row-gap: 35px;
    }

    .whyCloudyDivTxt {
        width: 100%;
        min-width: 0;
        row-gap: 20px;
        height: fit-content;
        min-height: 350px;
    }

    .whyCloudyDivGif {
        justify-content: center;
    }

    #whyCloudyRight {
        text-align: left;
    }

        #whyCloudyRight > ul {
            direction: ltr;
        }

    .right {
        flex-direction: column-reverse;
    }
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
}

.footer-row-top {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 0 auto;
    padding-bottom: 75px;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 1200px;
}

    .footer-row-top-el {
        display: flex;
        justify-content: center;
    }

        .footer-row-top-el h3 {
            font-weight: 400;
            text-align: center;
        }

        .footerBtn {
            width: 250px;
            height: 50px;
            font-size: 20px;
        }

.footer-row-bottom {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: max(5%, 50px);
    background-color: var(--secondaryBackground);
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

    .footer-row-bottom-top {
        font-size: 14px;
    }

        .footer-row-bottom-top > p {
            margin-bottom: 10px;
        }

        .footer-row-bottom-top > p > a {
            text-decoration: none;
            color: var(--secondaryTxt);

        }

    .footer-row-bottom-middle {
        margin-bottom: 25px;
    }

    .footer-row-bottom-bottom p, .footer-row-bottom-bottom a {
        color: var(--secondaryTxt);
        max-width: 1200px;
        font-size: 12px;
        margin: 0 auto;
    }

#footerBreak {
    display: none;
}

@media (max-width: 470px) {
    #footerBreak {
        display: inline;
    }
}


