/* General */

* {
    /* CSS reset */
    margin: 0;
    padding: 0;
    /* Some standard colours */
    --offBlack: #0d1116;
    --warmGrey: #282828;
    --borderColor: #30363d;
    --boxShadow: black;
    --offWhite: #faf9f6;
    --silverGrey: #8b949eff;
    --green: #29a95e;
    --purple: #9381FF;
}

body {
    background-color: var(--offBlack);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 55px;
}

h1, h2, h3 {
    color: var(--offWhite);
}

p, h4 {
    color: var(--silverGrey);
    line-height: 25px;
}

nav ul i, .block i, footer i {
    color: var(--silverGrey);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}


/* Standard components */

.button {
    height: 35px;
    width: 250px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 1px var(--boxShadow);
}

.containerTitle {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
}

    .containerTitle > h2 {
        color: var(--purple);
        font-size: 55px;
        font-weight: bold;
    }

.block {
    border-radius: 10px;
    background-color: var(--offBlack);
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--borderColor);
    box-shadow: 0 0 5px var(--boxShadow);
    padding: 10px;
}

    .block:hover {
        box-shadow: 0px 0px 25px -10px #4e4e4e;
    }

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--purple);
}

    .hover-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: var(--purple);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

/* Navigation bar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--offBlack);
    z-index: 1;
}

    nav li {
        display: inline;
    }

    nav ul i, nav i {
        color: var(--offWhite);
    }

.navItem {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: var(--offWhite);
}

#navProduct {
    padding-left: 30px;
}

.navHover {
    text-align: center;
    padding-bottom: 30px;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 65px;
    min-width: 160px;
    z-index: 2;
    padding-bottom: 20px;
}

    #dropdownProduct {
        transform: translate(30%);
    }

    #dropdownResources {
        transform: translate(85%);
    }

    #dropdownAbout {
        transform: translate(138%);
    }

.dropdownContent a {
    float: none;
    width: fit-content;
    display: block;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
    color: var(--silverGrey);
}

.navHover:hover .dropdownContent {
    display: block;
}

.logo {
    text-decoration: none;
    color: var(--offWhite);
}

.hideOnSmall {
    visibility: visible;
}

.menuSmall {
    visibility: hidden;
    padding-left: 5%;
    padding-right: 5%;
}

#hamburger {
    margin-right: 0px;
    cursor: pointer;
}

#dropdownHamburger {
    display: none;
    overflow-y: scroll;
}

.dropdownContentHamburger {
    position: absolute;
    top: 65px;
    right: 5%;
    text-align: center;
    width: 250px;
    z-index: 2;
}

    .dropdownContentHamburger ul {
        display: flex;
        flex-direction: column;
    }

    .dropdownContentHamburger a {
        padding-top: 15px;
        text-decoration: none;
        color: var(--silverGrey);
    }

#closeMenuSmall {
    cursor: pointer;
}

.dropdownSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .dropdownSection a {
        margin: 0 auto;
    }

.dropdownElements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc;
    padding-bottom: 15px;
    overflow-y: scroll;
    max-height: 85vh;
}

    .dropdownElements i {
        color: var(--offWhite);
        position: sticky;
        top: 0;
        background-color: var(--offBlack);
        z-index: 1;
        padding-bottom: 5px;
    }

.dropdownHamburgerHeader {
    font-size: 16px;
    font-weight: bold;
    color: var(--purple);
    margin-top: 15px;
}

.comingSoon span {
    color: var(--borderColor);
}

.comingSoon:hover span {
    display: none;
}

    .comingSoon:hover:before {
        content: "Coming soon!";
        color: var(--borderColor);
    }

@media (max-width: 811px) {
    .hideOnSmall {
        visibility: hidden;
    }
    .menuSmall {
        visibility: visible;
    }
}


/* Hero container section */

.heroContainer {
    width: 90%;
    margin-top: 225px;
    margin-bottom: 350px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    align-items: center;
}

.heroComponent-left {
    max-width: 550px;
    min-width: 50%;
}

#cycler {
    color: var(--purple);
}

#heroLogo {
    text-align: center;
    display: block;
}

#buyBtn {
    min-width: 50%;
    background-color: var(--green);
    border-color: transparent;
    color: var(--offWhite);
}

#exploreBtn {
    min-width: 50%;
    background-color: transparent;
    border-color: var(--borderColor);
    color: var(--silverGrey);
}

@media (max-width: 1160px) {
    .heroContainer {
        flex-direction: column;
        justify-content: center;
    }
    #heroLogo {
        margin-top: 35px;
    }
}
@media (max-width: 500px) {
    .heroContainer {
        margin-top: 125px;
        margin-bottom: 175px;
    }
    #philosophyTitle {
        margin-top: 175px;
    }
    #pricingTitle {
        margin-top: 175px;
    }
    #heroLogo {
        display: none;
    }
}


/* USP container section */

#businessTitle {
    text-align: left;
}

#developerTitle {
    text-align: right;
}

.uspContainer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.notHomeMargin {
    margin-bottom: 175px;
}

    .notHomeMargin ul, .notHomeMargin pre {
        color: var(--silverGrey);
        padding-left: 30px;
    }

    .notHomeMargin h4 {
        color: var(--offWhite);
        padding-left: 15px;
    }

.uspDiv {
    min-height: 259px;
    min-width: 325px;
    width: 30%;
}

    .uspDiv > h3, .uspDiv > p, .uspDiv > i, .uspDiv > a {
        margin: 15px;
    }

.uspLink {
    text-decoration: none;
    color: var(--silverGrey);
}

@media (max-width: 1197px) {
    #businessTitle {
        text-align: center;
    }
    #developerTitle {
        text-align: center;
    }
    .uspContainer {
        justify-content: center;
    }
}


/* Feature section */

.featureContainer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featureDiv {
    flex-grow: 1;
    width: 200px;
}

    .featureDiv > h3, .featureDiv > p, .featureDiv > i, .featureDiv > a {
        margin: 15px;
    }

.nextFeature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

    .nextFeature > h3 {
        font-weight: normal;
        color: var(--silverGrey);
    }


/* Pricing container */

#pricingTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 250px;
}

#pricingTitlePricing { /* Also used for 'Features' title */
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
}

    #pricingTitle > p, #pricingTitlePricing > p {
        font-size: 16px;
    }

.tierTitle {
    background-color: black;
    color: var(--offWhite);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 25px -10px #4e4e4e;
    height: 35px;
    width: 250px;
    border-radius: 50px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

    .communityEdition > h3 {
        font-weight: normal;
        font-size: 16px;
    }

.pricingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
}

.pricingDiv {
    flex: 1;
    text-align: center;
}

.priceHero {
    color: var(--purple);
    font-size: 40px;
    margin-top: 50px;
}

.pricingEl {
    margin: 15px;
}

.pricingSubTxt {
    min-height: 100px;
}

.pricingBtns {
    min-height: 125px;
}

#trialBtn {
    min-width: 50%;
    background-color: transparent;
    border: solid 1px var(--green);
    color: var(--offWhite)
}

.pricingFooter {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

@media (max-width: 779px) {
    .pricingContainer {
        flex-direction: column;
    }
}


/* Final call container */

.finalCallContainer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
    text-align: center;
}

#finalCallTxt {
    font-size: 45px;
    color: var(--offWhite);
    font-weight: bold;
    margin-bottom: 50px;
}


/* Used on the 'for developers' page */

#philosophyTitle {
    margin-top: 250px;
}

.whyCloudyContainer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    align-items: center;
}

.whyCloudyDiv {
    min-height: 400px;
    width: 100%;
    opacity: 0;
    transition: opacity 2.5s;
    transition-timing-function: ease;
    display: flex;
    justify-content: space-between;
}

.whyCloudyDivTxt {
    width: 50%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .whyCloudyDivTxt > ul > li {
        margin-left: 20px;
        margin-right: 20px;
        color: var(--silverGrey);
    }

.whyCloudyDivGif {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.forDevsImg img {
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
}

.philosophyHeadingP {
    font-size: 45px;
    color: var(--offWhite);
    font-weight: bold;
}

.reachBtn {
    background-color: var(--green);
    border-color: transparent;
    color: var(--offWhite);
}

#whyCloudyRight {
    text-align: right;
    float: none;
}

    #whyCloudyRight > ul {
        direction: rtl;
    }

@media (max-width: 1116px) {
    .whyCloudyDiv {
        justify-content: center;
        flex-direction: column;
        row-gap: 35px;
    }

    .whyCloudyDivTxt {
        width: 100%;
        min-width: 0;
        row-gap: 20px;
        height: fit-content;
        min-height: 350px;
    }

    .whyCloudyDivGif {
        justify-content: center;
    }

    #whyCloudyRight {
        text-align: left;
    }

        #whyCloudyRight > ul {
            direction: ltr;
        }

    .right {
        flex-direction: column-reverse;
    }
}


/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.footer-column-left {
    width: 40%;
}

.footer-column-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.footer-column-right-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-column-right-top-el {
    text-align: center;
}

.footer-ul { /* Also used in pricing section */
    list-style: none;
    width: 100%;
    min-width: 100px;
}

    .footer-ul > li {
        padding: 2.5px;
    }

.footer-column-right-middle {
    text-align: center;
}

.footer-column-right-bottom {
    text-align: center;
}

.footerEl {
    text-decoration: none;
    color: var(--silverGrey);
    font-size: 14px;
}

.legalFooterTxt {
    font-size: 12px;
}

@media (max-width: 970px) {
    footer {
        flex-direction: column;
        justify-content: center;
        row-gap: 35px;
    }

    .footer-column-left {
        width: 100%;
    }

    .footer-column-right {
        width: 100%;
        flex-direction: column;
        row-gap: 35px;
    }
}

@media (max-width: 430px) {
    .footer-column-right-top {
        flex-direction: column;
        justify-content: center;
        row-gap: 35px;
        text-align: center;
    }
}



